<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean class="org.springframework.test.common.event.CustomEventListener"/>
    <bean class="org.springframework.test.common.event.ContextRefreshedEventListener"/>
    <bean class="org.springframework.test.common.event.CustomContextClosedEventListener"/>
</beans>